/* import Inter Font from Google Font */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Global Style */
* {
  margin: 0;
  padding: 0;
}

/* Shared Style */
.btn-primary {
  width: 244px;
  height: 65px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  background: rgb(13, 19, 33);
}

/* Start Navbar Style */
.header-section {
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-top: 40px;
}
.navbar-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 500px;
}
.navbar-section h1 {
  color: rgb(13, 19, 33);

  font-size: 28px;
  font-weight: 800;
}
.navbar-section button {
  width: 244px;
  height: 57px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  cursor: pointer;
}
/* End Navbar Style */

/* Start Hero Banner Section Style  */
.hero-banner-section {
  background-image: url("../assets/Hero-bg.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 640px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}
.hero-banner-section img {
  height: 240px;
  margin-top: 30px;
}
.hero-banner-section h1 {
  width: 1120px;
  color: rgb(13, 19, 33);
  font-size: 53px;
  font-weight: 800;
  margin-top: 30px;
}
.hero-banner-section p {
  color: rgb(40, 46, 59);

  font-size: 18px;
  font-weight: 400;
  width: 952px;
  margin-top: 30px;
  margin-bottom: 45px;
}
/* End Hero Banner Section Style  */

/* Start Development  Section Style */

.development-section {
  width: 1700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  /* height: 1000px; */
  margin: 0 auto;
  margin-top: 100px;
}
.dev-container-section {
  margin-bottom: 80px;
}
.dev-title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.dev-title-section h1 {
  color: rgb(13, 19, 33);
  font-size: 42px;
  font-weight: 800;
  margin-top: 80px;
}
.dev-title-section p {
  width: 900px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
}

.dev-item-section-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 16px;
  gap: 400px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  width: 1500px;
  height: 430px;
  margin: 0 auto;
  margin-top: 40px;
}
.dev-item-section-left h1 {
  color: rgba(13, 19, 33, 0.7);
  width: 490px;
  font-size: 34px;
  font-weight: 700;
}
.dev-item-section-left p {
  width: 468px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 40px;
}
.dev-item-section-left img {
  width: 259.56px;
  height: 217.01px;
}

.learn-more {
  width: 190px;
  height: 50px;
  color: rgb(13, 19, 33);
  font-size: 23px;
  font-weight: 600;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  background-color: white;
}

.dev-item-section-right {
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 16px;
  gap: 40px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  width: 1500px;
  height: 430px;
  margin-left: 150px;
  margin: 0 auto;
  margin-top: 35px;
}

.dev-item-section-right img {
  width: 259.56px;
  height: 217.01px;
  margin-left: 100px;
}
.dev-item-section-right h1 {
  color: rgba(13, 19, 33, 0.7);
  width: 490px;
  font-size: 34px;
  font-weight: 700;
}
.dev-item-section-right p {
  width: 468px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* End Development Section Style */

/* Start My Inspiration Section Style  */

.inspiration-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}
.inspiration-title-section h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
}
.inspiration-title-section p {
  color: rgb(73, 77, 83);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  width: 1000px;
  margin-top: 25px;
}
.inspiration-video-section {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 30px;
  margin-top: 50px;
}
.inspiration-video-section iframe {
  border-radius: 16px;
  /* width: 1076px;
  height: 550px; */
}

/* End My Inspiration Section Style  */
